@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

.bg-blue {
    background-color: #001B48;
}

footer {
    background-color: #f3f6fd;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203);
    width: 100%;
}

footer .card {
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

footer ul > li {
    padding: 4px
}

footer ul > li:hover {
    color: #97CADB;
    cursor: pointer
}

footer hr {
    border-width: 3px
}

footer .social > i {
    padding: 1%;
    font-size: 15px
}

footer .social > i:hover {
    color: #97CADB;
    cursor: pointer
}

footer .policy > div {
    padding: 4px
}

footer .heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

footer .divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

/* Back to top */
.btt {
    background: #0188be56;
    position: fixed;
    right: 10px;
    bottom: 19px;
    z-index: 1000;
    border-radius: 10px;
    display: none;
}

.btt:hover {
    background: #018abe;
}

.btt i {
    color: #ffffff;
    font-size: 35px;
    padding: 7px;
}

.container_top {
    width: 100%;
    padding-left: 15px;
    margin-left: auto;
}

bg-light {
    background-color: rgba(248, 249, 250, 0) !important
}

button.bg-white:hover {
    background-color: rgba(218, 224, 229, 0) !important
}

textarea{
    resize: none;
}