h1 {
    font-weight: bold;
    color: #001B48;
    float: left;
}

hr{
    border: 2px solid #02457A;
}

.login {

    border-color: #018abe;
    border-width: 4px;
}

.form-check {

    text-align: center;
    color: #97cadb;
    font-weight: bold;
}

.div1 {

    text-align: center;
}

